
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');


$open:			'Open Sans', sans-serif;

$trans:					transparent;	
$white: 				#ffffff;		//blanco
$purple:				#5E0D8B;		//morado top
$rosa:					#a03c87;
$menu-top:				#E3B2FF;		// morado menu top
$etomin:				#FF5959;		// etomin
$texto:					#888888;		// texto
$textogris:				#969696;		// texto gris
$bggris:				#f5f5f7;

$f11:					0.688rem;
$f12:					0.750rem;
$f13:					0.813rem;
$f14:					0.875rem;
$f15:					0.938rem;
$f16:					1rem;
$f17:					1.063rem;
$f18:					1.125rem;
$f19:					1.188rem;
$f20:					1.250rem;
$f22:					1.375rem;
$f25:					1.563rem;
$f30:					1.875rem;
$f64:					4rem;
$f80:					5rem;


$path--rel:				"../img";


// MIXINS ::::::::: ::::::::::::: ::::::::::: 

@mixin border-radius($border) {
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	-ms-border-radius: $border;
	border-radius: $border;
}

@mixin box-shadow-out($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	-moz-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin opacity($numero) {
	$ms:  $numero * 100;
	filter: alpha(opacity=$ms);
	opacity: $numero;
}

@mixin bg ($color, $url, $position, $bgsize) {
	background-color: $color;
	background-image: url('#{$path--rel}/#{$url}');
	background-repeat: no-repeat;
	background-position: $position;
	background-size: $bgsize;
}

@mixin background-image($img, $background-position, $background-color) {
    background-image: url('#{$path--rel}/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-color: $background-color;
}

@mixin transition($tiempo) {
	-webkit-transition: all $tiempo ease-in-out;
	-moz-transition: all $tiempo ease-in-out;
	-ms-transition: all $tiempo ease-in-out;
	transition: all $tiempo ease-in-out;
}




// RESET ::::::::: ::::::::::::: ::::::::::: 
* {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, html {
	font-family: $open;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
a, a:hover, a:focus {
	cursor: pointer;
	text-decoration: none;

	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{ margin:0; padding:0; }	
table{ border-collapse:collapse; border-spacing:0; }
fieldset,img{ border:0; }body,address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal; }
li {
	list-style:none;
}
caption,
th {
	text-align:left;
}
q:before,
q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	outline-style:none;
	outline-width:0pt;
}
legend { 
	color:#000;
}
a:focus, object, h1, h2, h3, h4, h5, h6{ 
	-moz-outline-style: none;
	border:0px;
}
strong {
	font-size: 130%;
}
.hidden{
	display: none;
}
svg:not(:root) {
	overflow:hidden;
}
::selection {
	background: #5186c5;
	color: #fff;
}
::-moz-selection {
	background: #5186c5 !important;
	color: #fff;
}









// GENERALES ::::::::: ::::::::::::: ::::::::::: 

body {
	background-color: $white;
}
.wp {
	width: 95%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto 0;
	display: block;
}







// HEADER ::::::::: ::::::::::::: ::::::::::: 

header {
	position: absolute;
	z-index: 99;
	width: 100%;
	.menu {
		position: relative;
		padding-top: 4em;
		display: block;
		overflow: hidden;
		@media screen and (max-width:  1000px){
			overflow: visible;
		}
		.menu-btn, h1, nav, .btn-registro {
			float: left;
			width: 15%;
			@media screen and (max-width:  1000px){
				width: 33.3333%;
			}
		}
		.menu-btn {
			display: none;
			vertical-align: middle;
			text-indent: -9999px;
			a {
				display: block;
				width: 30px;
				height: 30px;
				margin: 0;
				@include bg($trans, 'pakke-burger-btn.svg', center center, 30px);
				&:hover {
					@include opacity(0.3);
				}
			}
			@media screen and (max-width:  1000px){
				display: inline-block;
				padding-top: 1.6em;
			}
			@media screen and (max-width:  450px){
				width: 20%;
				padding-top: 1.2em;
				padding-left: 2%;
			}
			@media screen and (max-width:  376px){
				padding-top: .9em;
			}
			@media screen and (max-width:  320px){
				padding-top: .6em;
			}
		}
		h1 {
			img {
				width: 100%;
				max-width: 151px;
				display: block;
				@media screen and (max-width:  1000px){
					text-align: center;
					margin: 0 auto;
				}
			}
			span {
				display: none;
			}
		}
		#menu {
			width: 73%;
			text-align: right;
			ul {
				margin-top: 1.1em;
				padding: 0;
				li {
					display: inline-block;
					margin: 0 0 0 0.25em;
					border-right: thin solid rgba(255, 255, 255, 0.4);
					&:last-child {
						border: none;
						a {
							margin-right: 0;
						}
					}
					a {
						color: $white;
						font-size: $f14;
						display: block;
						padding: 0 .25em;
						margin-right: 0.6em;
						&:hover {
							@include opacity (.3);
						}
						&.activo {
							font-weight: 700;
						}
					}
				}
			}
			@media screen and (max-width:  1024px){
				width: 70%;
			}
			@media screen and (max-width:  1000px){
				display: none;
				position: absolute;
				width: 100%;
				background-color: $white;
				text-align: center;
				padding: 1.5em 0;
				@include box-shadow-out(0,2px,6px,rgba(0,0,0,0.3));
				top: 5em;
				left: 0;
				ul {
					margin: 0;
					padding: 0;
					width: 100%;
					li {
						border: none;
						margin: 0 2.5%;
						padding: 0;
						a {
							color: $texto;
							&:hover {
								background-color: $purple;
								color: $white;
							}
						}
					}
				}		
			}	
			@media screen and (max-width:  800px){
				top: 4.5em;
				ul {
					li {
						margin: 0 .5%;
					}
				}
			}
			@media screen and (max-width:  600px){
				padding: .25em 0;
				ul {
					display: block;
					li {
						display: block;
						width: 100%;
						margin: 0;
						a {
							padding: .8em 0;
							width: 100%;
							
						}
					}
				}
			}
			@media screen and (max-width:  450px){
				top: 4em;
				ul {
					li{
						margin: .1em 0;
						a {
							padding: 0.9em 0;
						}
					}
				}
			}
			@media screen and (max-width:  375px){
				top: 4em;
			}
			@media screen and (max-width:  320px){
				top: 3.5em;
			}
		}
		.btn-registro {
			text-align: right;
			width: 12%;
			margin-top: .8em;
			@media screen and (max-width:  1024px){
				width: 15%;
			}
			@media screen and (max-width:  1000px){
				width: 33.3333%;
			}
			@media screen and (max-width:  450px){
				width: 46%;
				margin-top: .25em;
			}
			a {
				background-color: $etomin;
				width: 115px;
				height: 36px;
				text-align: center;
				color: $white;
				display: inline-block;
				@include border-radius(18px);
				font-size: $f14;
				padding-top: .6em;
				letter-spacing: 1px;
				&:hover {
					@include opacity(0.3);
				}
			}
		}
	}
	.menu-top {
		position: absolute;
		width: 100%;
		height: 30px;
		background: $purple;
		top: 0;
		left: 0;
		.wp {
			overflow: hidden;
			padding-top: .35em;
			.tel, .redes, .menuu {
				float: left;
				color: $white;
				font-size: $f13;
			}
			.tel {
				@media screen and (max-width:  600px){
					display: none;
				}
				a {
					color: $menu-top;
					padding-left: 1.5em;
					display: block;
					@include bg($trans, 'telefono-pakke.svg', left center, 13px);
				}
			}
			.redes {
				padding: 0 0 0 2em;
				@media screen and (max-width:  600px){
					padding: 0;
				}
				span {
					color: $menu-top;
					float: left;
					@media screen and (max-width:  450px){
						display: none;
					}
				}
				ul {
					float: left;
					padding-top: .1em;
					li {
						float: left;
						margin-left: .75em;
						@media screen and (max-width:  450px){
							margin-left: 0;
							margin-right: 1.5em;
						}
						a {
							color: $menu-top;
							display: block;
							text-indent: -9999999px;
							width: 15px;
							height: 15px;
						}
						&:nth-child(1) {
							a {
								@include bg($trans, 'facebook-pakke.svg', center center, contain);
							}
						}
						&:nth-child(2) {
							a {
								@include bg($trans, 'twitter-pakke.svg', center center, contain);
							}
						}
					}
				}
			}
			.menuu {
				float: right;
				ul {
					li {
						float: left;
						border-left: solid thin rgba(255,255,255,0.3);
						margin: 0 0 0 0;
						a {
							color: $menu-top;
							display: block;
							padding: 0 0 0 0;
							margin: 0 .8em 0 .9em;
						}
						&:first-child {
							border: none;
						}
						&:last-child {
							a {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
}






// TOP ::::::::: ::::::::::::: ::::::::::: 

.top {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 680px;
	@include bg ($rosa, 'background-pakke.jpg', center bottom, cover);
	display: block;
	overflow: hidden;
	@media screen and (max-width:  1000px){
		height: 600px;
	}
	@media screen and (max-width:  800px){
		height: 550px;
	}
	@media screen and (max-width:  600px){
		height: 470px;	
	}
	.mask {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $trans url('../img/background-overlay-pakke.png') repeat-x left top;
		background-size: contain;
		&:after {
			content: '';
			position: absolute;
			z-index: 2;
			width: 384px;
			height: 554px;
			left: 50%;
			margin: 0 0 0 13em;
			bottom: 0;
			background-color: red;
			@include bg ($trans, 'repartidor-pakke.png', center center, contain);
			@media screen and (max-width:  1024px){
				margin: 0 0 0 8%;
			}
			@media screen and (max-width:  1000px){
				height: 435px;
			}
			@media screen and (max-width:  800px){
				display: none;
			}
		}
	}
	.wp {
		position: relative;
		z-index: 5;
		padding: 15.5em 0 0 0;
		color: $white;
		@media screen and (max-width:  800px){
			text-align: center;
			padding: 13em 0 0 0;
		}
		@media screen and (max-width:  600px){
			padding: 10.5em 0 0 0;
		}
		@media screen and (max-width:  450px){
			padding: 10em 0 0 0;
		}
		p {
			font-size: $f20;
			font-weight: 300;
			margin-bottom: 0;
			@media screen and (max-width:  800px){
				margin-bottom: .5em;
			}
			@media screen and (max-width:  450px){
				margin-bottom: .85em;
			}
		}
		h2 {
			font-size: $f80;
			font-weight: 800;
			margin-bottom: 0;
			width: 100%;
			max-width: 525px;
			line-height: 1.1em;
			margin-bottom: .475em;
			@media screen and (max-width:  800px){
				max-width: 410px;
				margin: 0 auto .5em;
				font-size: $f64;
			}
			@media screen and (max-width:  450px){
				font-size: 3rem;
				margin: 0 auto .75em;
			}
		}
		a {
			display: inline-block;
			color: $white;
			font-size: $f20;
			font-weight: 300;
			height: 45px;
			@include bg ($trans, 'play-pakke.svg', left center, 45px);
			padding: .45em 2em 0 3em;
			&:hover {
				@include opacity(0.3)
			}
			@media screen and (max-width:  450px){
				padding: .45em 0em 0 3em;
			}
		}
	}
}



// TOP ::::::::: ::::::::::::: ::::::::::: 

#como-funciona {
	display: block;
	width: 100%;
	background-color: $bggris;
	padding: 2.75em 0;
	.wp {
		text-align: center;
		figure {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin: 0 -.13em;
			padding: 0 .1em 0;
			&:after {
				content: '';
				position: absolute;
				width: 130px;
				height: 2px;
				top: 0;
				right: 0;
				@include bg($trans, 'line.svg', left center, cover);
				margin: 3.8em 0 0 0;
			}
			&:nth-child(1){
				&:after {
					width: 90px;
					right: -60px;
				}
			}
			&:nth-child(2){
				&:after {
					width: 100px;
					right: -70px;
				}
			}
			&:nth-child(3){
				&:after {
					width: 110px;
					right: -65px;
				}
			}
			&:nth-child(4){
				&:after {
					width: 90px;
					right: -62px;
				}
			}
			&:nth-child(5){
				&:after {
					display: none;
				}
			}
			img {
				display: block;
				width: 100%;
				max-width: 110px;
				margin: 0 auto .9em;
				height: 102px;
			}
			figcaption {
				display: block;
				width: 100%;
				max-width: 205px;
				color: $textogris;
				font-size: $f16;
				line-height: 1.2em;
			}
		}
	}
}























































